### switch to Cmake
.idea/
cmake-build-debug/

## autoheader(from configure.in)
config.h.in
autom4te.cache/

## autoconf (from configure.in)
configure

## configure(from configure)
config.h
GNUmakefile
config.log
config.status
doc/source/ldp.dsl

###
*.o
*.exe
*.so

hello.c
w32.res

pcre/RunTest
pcre/config.cache

###
config.txt
pcre/config.h
pcre/dftables
pcre/pcre-config
pcre/pcre.h